* {
    touch-action: manipulation;
}

body {
    background-color: #1F2335;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

button {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #7083d9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3c4a88;
}

/* disable password show/hide button */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}


.page {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

.title {
    cursor: pointer;
    color: #90a6d6;
    font-size: 30px;
    transition: all .15s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    line-height: 40px;
    font-weight: bold;
}

.title:hover {
    background-color: #2e334b;
}

.titlebar {
    margin: 20px 0;
    display: flex;
}

.popupTitle {
    color: #90a6d6;
    font-size: 30px;
    margin-bottom: 10px;
}

#drop-area {
    transition: all .1s ease-in-out;
    background-color: #363c5a;
    border-radius: 20px;
    margin: 20px 0 0 0;
    height: 150px;
    padding: 20px;
}

.drop-active {
    background-color: #455399 !important;
}

#drop-area label {
    color: #ffffff;
}

p {
    margin: 0;
}

.file-button {
    display: inline-block;
    padding: 8px;
    background: #5c6eb8;
    cursor: pointer;
    border-radius: 5px;
    /* width: 90px; */
    width: fit-content;
    margin: 0 auto;
    transition: all .1s ease-in-out;
}

.file-button:hover {
    background: #50609e;
}

.link-button {
    width: 40px;
    height: 40px;
}

#ani-button {
    transition: all .15s ease;
}

.cancel-select {
    transform: rotate(45deg);
}

#fileElem {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: all .18s ease-in-out;
    z-index: 10;
    transform: scale(.95);
}

.popup--opened {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
}

.popup-content {
    position: absolute;
    display: block;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #1F2335;
    color: #34495E;
    text-align: center;
    border-radius: 20px;
    width: 90%;
}

.modify-content {
    max-width: 550px;
}

.popbg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: .7;
    transform: scale(2);
}

.uploading-list {
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

.uploading-file {
    position: relative;
    background-color: #363c5a;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: auto auto 20px auto;
    padding: 20px 0;
}

.uploading-file-percent {
    position: absolute;
    font-size: 20px;
    text-align: right;
    color: #7AA2F7;
    z-index: 5;
    margin: -20px 0 0 0;
    line-height: 40px;
    left: 20px;
    width: 90%;
    max-width: 460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploading-file-name {
    position: absolute;
    font-size: 20px;
    text-align: left;
    color: #7AA2F7;
    z-index: 5;
    margin: -20px 0 0 0;
    line-height: 40px;
    left: 20px;
    width: 78%;
    max-width: 460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dragText {
    font-size: 18px;
    color: white;
}

.progressbar {
    position: absolute;
    background-color: #2f44ad;
    height: 100%;
    max-width: 500px;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    background-color: #131520;
    transition: all .1s ease-in-out;
}

.bg--opened {
    pointer-events: all;
    opacity: 1;
}


.upload-area {
    display: none;
    /* width: 500px; */
}

/* button */

.button {
    font-size: 13px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    background-color: #42496B;
    border-radius: 10px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.button:hover {
    background: #5c6eb8;
}

/* button:active {
  transform: scale(.95);
} */

.add {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.login {
    margin-left: 10px;
}

.xmark {
    margin-left: 10px;
    position: absolute;
    right: 0;
}

.top-icon {
    width: 40px;
    height: 40px;
}

.top-icon-hide {
    opacity: 0;
    pointer-events: none;
}

.top-icons {
    position: relative;
    pointer-events: all;
    display: flex;
    margin: auto 10px auto auto;
}

.act-icons {
    float: right;
    top: 0;
    right: 0px;
    position: absolute;
    pointer-events: all;
    transition: all .25s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.opt-icons {
    transition: all .3s ease-in-out;
    border-radius: 10px;
    /* height: fit-content; */
    display: flex;
    gap: 2px;
    overflow: hidden;
}

.show {
    opacity: 100%;
    pointer-events: all;
}

.hide {
    opacity: 0 !important;
    pointer-events: none !important;
}

.edit-options {
    position: fixed;
    display: flex;
    background-color: #3c4364;
    box-shadow: 1px 1px 30px 1px #292c3b;
    border-radius: 15px;
    height: 55px;
    width: 85%;
    max-width: 500px;
    text-align: center;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .28s ease-in-out;
}

.edit-options-open {
    bottom: 25px;
}

.edit-options-buttons {
    display: flex;
    margin: auto 20px auto auto;
}

.edit-options-button {
    width: 65px;
}

.download-btn-text {
    color: #FFFFFF;
    line-height: 35px;
    font-size: 13px;
}

#edit-options-text {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 55px;
    margin: 0 25px;
}

.btn-group {
    border-radius: 0;
    overflow: hidden;
}

.modfile-btn {
    font-size: 15px;
    padding: 0 15px;
    margin: 0 15px;
}

.delete {
    background-color: #7e403e;
}

.delete:hover {
    background-color: #b62a25;
}

.save {
    background-color: #3e8359;
}

.save:hover {
    background-color: #1aaa51;
}

.select-delete {
    background-color: #803735;
    margin-left: 15px;
}

.select-delete:hover {
    background-color: #992d29;
}

.select-edit {
    background-color: #555bb3;
    transition: all .1s ease-in-out;
}

.select-edit-hide {
    opacity: 0;
    pointer-events: none;
}

.select-edit:hover {
    background-color: #696fc2;
}

.select-download {
    margin-left: 10px;
    width: 80px;
    padding: 2px;
    background-color: #3e8359;
}

.select-download:hover {
    background-color: #1aaa51;
}

.rename {
    background-color: #2f44ad;
}

.rename:hover {
    background-color: #2b47d1;
}

/* filecard */

.file-list-area {
    overflow-y: scroll;
    background-color: #2e334b;
    border-radius: 20px;
    padding: 15px 10px;
    margin-top: -60px;
    max-height: calc(100dvh - 145px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.file-list-area::-webkit-scrollbar {
    display: none;
}

#file-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.file-list-out {
    margin-top: 0px;
}

.file-list-editing {
    margin-bottom: 90px;
}

.file {
    background-color: #414968;
    margin: 0 auto;
    padding: 7px 8%;
    border-radius: 10px;
    width: 80%;
    position: relative;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    -webkit-tap-highlight-color: transparent;
}

.file-select {
    background-color: #373d58;
}

.file-selected {
    background-color: #4a5796;
}

.file-card {
    height: 100%;
    pointer-events: all;
    transition: all .2s ease-in-out;
    margin: 2px auto;
    cursor: pointer;
}

.file-template {
    height: 58px;
    padding-top: 0;
    padding-bottom: 0;
}

.file-card-disable {
    pointer-events: none;
    opacity: .6;
}

.file-card-selected {
    pointer-events: none;
}

.file-name {
    font-size: 16px;
    color: #7AA2F7;
    font-weight: bold;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-size {
    font-size: 15px;
    color: rgb(131, 150, 194);
}

.modfile-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: rgb(36, 39, 53);
    font-size: 20px;
    transition: all .2s ease-in-out;
    opacity: 100%;
    padding: 10px;
}

.modfile-icon-hide {
    opacity: 0;
    pointer-events: none;
}

/* modfile */
.modfile-area {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 30px;
}

.modfile-name {
    color: #7ca3f5;
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    overflow: hidden;
}

.file-name-placehoder {
    background-color: #7AA2F7;
    width: fit-content;
    margin: auto;
}

.file-size-placehoder {
    background-color: #7f95ba;
    margin: auto;
}

/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: scale(.8);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a426d;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .43s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5b8df8;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5b8df8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modfile-option-lable {
    color: #FFFFFF;
}

.modfile-options {
    display: grid;
    grid-template-columns: .5fr 60px;
    justify-content: center;
    text-align: left;
    gap: 10px 0;
}

.modfile-option-lable {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 0;
}

.option-p {
    margin-top: auto;
    margin-bottom: auto;
}

.link-input {
    border: none;
    border-bottom: 2px solid #7ea4f3;
    border-radius: 0;
    width: 100px;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
}

.link-input:focus {
    outline: none;
}

#link-input {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.upload-file-titlebar {
    position: relative;
}

.upload-options {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.upload-options-area {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #2e334b;
    box-shadow: .3px .3px 10px 1px #20222a;
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all .15s ease-in-out;
}

.upload-options-area--open {
    pointer-events: all;
    opacity: 1;
}

.upload-modfile-options {
    display: grid;
    grid-template-columns: .5fr 60px;
    justify-content: center;
    text-align: left;
    gap: 15px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 100%;
    margin: auto 0;
}

/* preview file */
.preview-content {
    height: auto;
    width: fit-content;
    padding: 20px;
    min-width: 400px;
    min-height: 100px;
}

.preview-ctrl-bar {
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
}

.preview-ctrl-lbtns {
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    left: 0;
}

.preview-ctrl-rbtns {
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 0;
}

.preview-ctrl-btn {
    width: 40px;
    height: 40px;
}

.preview-iframe {
    width: 90vw;
    height: 80vh;
    border: none;
    border-radius: 10px;
}

.preview-title {
    color: #90a6d6;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    margin-bottom: auto;
}

.preview-img {
    height: auto;
    max-height: 80vh;
    /* width: 100%; */
    border-radius: 3%;
    max-width: 620px;
}

.preview-notavailable {
    display: block;
    white-space: nowrap;
    /* width: 100%; */
    color: #90a6d6;
    font-size: 25px;
    border-radius: 10px;
    background-color: #1f2335;
}

.preview-download {
    font-size: 16px;
    width: 130px;
    /* margin: 10px auto 0 auto; */
    border-radius: 10px;
    cursor: pointer;
}

.preview-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 200px;
}

.preview-text {
    width: 60dvw;
    height: 70vh;
    border: none;
    border-radius: 10px;
    padding: 15px;
    resize: none;
    background-color: #191c2b;
    font-size: 20px;
    color: #FFFFFF;
}

.preview-text:focus {
    outline: none;
}

@media (max-width:700px) {
    .modify-content {
        max-width: 85%;
    }

    .preview-content {
        /* display: flex; */
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .preview-ctrl-bar {
        height: 60px;
        margin: 5px 10px;
    }

    .modfile-area {
        padding: 0;
    }

    .preview-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: fit-content;
        width: 100%;
        /* width: fit-content; */
        /* min-width: 100%;
    max-width: 100%; */
        border-radius: 0;
    }

    .preview-iframe {
        border-radius: 0px;
        width: 100vw;
        height: 93%;
    }

    .preview-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        width: 100%;
    }

    .preview-title {
        margin-top: 15px;
        font-size: 26px;
    }

    .preview-ctrl-lbtns {
        margin: 10px 0 0 10px;
    }

    .preview-ctrl-rbtns {
        margin: 10px 10px 0 0;
    }

    .preview-text {
        height: 90%;
        width: 93dvw;
        border-radius: 0;
        font-size: 15px;
    }

    .modfile-icon {
        right: 2px;
    }

}

/* loading animation */
.lds-ring {
    transform: scale(.4);
    margin-top: -15px;
    display: none;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 20px;
    background-color: #30324a;
    transition: all .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.search-open {
    opacity: 100%;
    pointer-events: all;
}

.search-icon {
    color: #FFFFFF;
    margin: auto 15px;
}

.search-input {
    background-color: #414968;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    font-size: 20px;
    color: #FFFFFF;
}

.search-input:focus {
    outline: none;
}

.clstext {
    position: absolute;
    right: 15px;
    color: #b8b8b8;
    opacity: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.clstext-show {
    opacity: 100%;
}

.no-files {
    color: #90a6d6;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    display: none;
}