body {
  background-color: #1F2335;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* swal custom */
.swal2-popup {
  background-color: #24283B !important;
  color: aliceblue !important;
  border-radius: 15px !important;
  z-index: 999 !important;
}

.swal2-confirm {
  border-radius: 5px !important;
  /* color: #FFFFFF !important; */
  border: none !important;
}

.swal2-input {
  background-color: #24283B !important;
  border: 1px solid #51597e !important;
  color: aliceblue !important;
  border-radius: 8px !important;
  font-size: 15px;
}

.swal2-validation-message {
  background-color: #24283B !important;
  color: #FFFFFF;
}


@keyframes swal2-show {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes swal2-hide {
  0% {
    transform: scale(1);
    opacity: 1
  }

  100% {
    transform: scale(0.8);
    opacity: 0
  }
}

.swal2-show {
  animation: swal2-show 0.2s !important;
}

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: #7083d9; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c4a88; 
}

/* disable password show/hide button */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}


.page {
  width: 95%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.title {
  cursor: pointer;
  color: #90a6d6;
  font-size: 30px;
}

.titlebar {
  display: flex;
}

.popupTitle {
  color: #90a6d6;
  font-size: 30px;
  margin: 10px;
}

#drop-area {
  transition: all .1s ease-in-out;
  background-color: #363c5a;
  border-radius: 20px;
  font-family: sans-serif;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
}

.drop-active{
  background-color: #455399 !important;
}

#drop-area label {
  color: #ffffff;
}

p {
  margin-top: 0;
}

.file-button {
  display: inline-block;
  padding: 8px;
  background: #7083d9;
  cursor: pointer;
  border-radius: 5px;
}

.file-button:hover {
  background: #5c6eb8;
}

#fileElem {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms;
  z-index: 10;
}

.popup--opened {
  pointer-events: all;
  opacity: 1;
}

.popup-content {
  position: absolute;
  display: block;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #1F2335;
  color: #34495E;
  text-align: center;
  border-radius: 20px;
  width: 85%;
  max-width: 550px;
}

.popbg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.uploading-list {
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.uploading-file {
  position: relative;
  background-color: #363c5a;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: auto auto 20px auto;
  padding: 20px 0;
}

.uploading-file-name {
  position: absolute;
  font-size: 20px;
  text-align: left;
  color: #7AA2F7;
  z-index: 5;
  margin: -20px 0 0 0;
  line-height: 40px;
  left: 20px;
  width: 90%;
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progressbar {
  position: absolute;
  background-color: #2f44ad;
  height: 100%;
  max-width: 500px;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background-color: #131520;
  transition: all 0.1s ease-in-out;
}

.bg--opened {
  pointer-events: all;
  opacity: 1;
}


.upload-area{
  display: none;
}

/* button */

.button{
  font-size: 13px;
  height: 40px;
  border: none;
  color: #FFFFFF;
  background-color: #42496B;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background: #5c6eb8;
}

.add {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.login {
  font-size: 13px;
  margin-top: 30px;
  margin-left: auto;
  padding: 10px;
  font-weight: bold;
}

.top-icon{
  width: 40px;
  height: 40px;
}

.top-icons{
  position: relative;
  font-size: 18px;
  margin-top: 30px;
  margin-left: auto;
  pointer-events: all;
}

.act-icons{
  float: right;
  top: 0;
  right: 0px;
  position: absolute;
  pointer-events: all;
  transition: all .25s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.opt-icons{
  transition: all .3s ease-in-out;
}

.show{
  opacity: 100%;
  pointer-events: all;
}

.hide{
  opacity: 0 !important;
  pointer-events: none !important;
}

.edit-options{
  position: fixed;
  display: flex;
  background-color: #3c415a;
  border-radius: 15px;
  height: 55px;
  width: 91%;
  max-width: 550px;
  text-align: left;
  bottom: -60px;
  transition: all .28s ease-in-out;
}

.edit-options-open{
  bottom: 25px;
}

.edit-options-button{
  width: 60px;
}

.edit-options-buttons{
  display: flex;
  margin: auto 20px auto auto;
}

#edit-options-text{
  color: #FFFFFF;
  font-size: 17px;
  line-height: 55px;
  margin: 0 25px;
}

.btn-group-right{
  float: left;
  margin-right: 1px;
  border-radius: 10px 0 0 10px;
}

.btn-group-left{
  border-radius: 0 10px 10px 0;
}

.modfile-btn{
  font-size: 15px;
  padding: 0 10px;
  margin: 0 50px;
}

.delete{
  background-color: #7e403e;
}

.delete:hover{
  background-color: #b62a25;
}

.save{
  background-color: #3e8359;
}

.save:hover{
  background-color: #1aaa51;
}

.edit-delete{
  background-color: #7e403e;
  margin-left: 15px;
}

.edit-delete:hover{
  background-color: #b62a25;
}

.edit-edit{
  background-color: #4a557a;
}

.edit-edit:hover{
  background-color: #58607b;
}

.edit-options-buttons-delete{
  margin-left: 20px;
}

/* filecard */

.file-list {
  background-color: #2e334b;
  border-radius: 20px;
  padding: 10px;
}

.file {
  background-color: #414968;
  margin: 15px auto;
  padding: 6px 8%;
  border-radius: 10px;
  width: 80%;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.file-select{
  background-color: #373d58;
}

.file-selected{
  background-color: #4a5796;
}

.file-card {
  pointer-events: all;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.file-card-disable{
  pointer-events: none;
  opacity: 0.6;
}

.file-card-selected{
  pointer-events: none;
}

.file-name {
  font-size: 16px;
  color: #7AA2F7;
  font-weight: bold;
  padding-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-size {
  font-size: 15px;
  color: rgb(131, 150, 194);
}

.modfile-icon{
  position: absolute;
  right: 13px;
  top: 18px;
  cursor: pointer;
  color: #202434;
  font-size: 20px;
  transition: all .2s ease-in-out;
  opacity: 100%;
}

.modfile-icon-hide{
  opacity: 0;
  pointer-events: none;
}


/* modfile */
.modfile-area{
  display: none;
}

#modfile-name{
  color: #7ca3f5;
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  overflow: hidden;
}

/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.8);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3a426d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .43s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5b8df8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5b8df8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modfile-buttons{
  margin-top: 20px;
}

.modfile-option-lable{
  color: #FFFFFF;
}

.modfile-options{
  display: grid;
  grid-template-columns: 0.5fr 60px;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
  gap: 10px 0;
}

.modfile-option-lable{
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 0;
}

.option-p{
  margin-top: auto;
  margin-bottom: auto;
}

.link-input{
  border: none;
  border-bottom: 2px solid #7ea4f3;
  border-radius: 0;
  width: 100px;
  background-color: #1f2335;
  font-size: 20px;
  color:#ffffff;
}

.link-input:focus{
  outline: none;
}

#link-input{
  display: flex;
  gap: 10px;
  justify-content: center;
}