<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/share.js"></script>
    <title>Uploader</title>
</head>

<body>
    <div class="page">
        <div class="titlebar">
            <h3 class="title">Shared Files</h3>
            <button class="button login" onclick="location.replace('/login')"> Login </button>
        </div>
        <div class="file-list">
            {% for file in all_files %}
            <div class="file">
                <div class="file-card" onclick="downloadFile('{{file.0}}')"">
                    <div class="file-name">{{file.0}}</div>
                    <div class="file-size">{{file.1}} | {{file.2}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>