<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Login | Uploader</title>
</head>

<body>
    <script>
        Swal.fire({
            title: 'Admin Login',
            input: 'password',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Login',   
            showLoaderOnConfirm: true,
            allowOutsideClick: false,
            confirmButtonColor: '#51597e',
            preConfirm: (pas) => {
                if(pas===""){
                    Swal.showValidationMessage('Type something!')
                    return(0);
                }
                return fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        password: pas
                    })
                })
                .then(response => response.json())
                .then(response => {
                    if(response.ststus == "correct"){
                        return response;
                    }else{
                        Swal.showValidationMessage(
                            `Password is incorrect`
                        )
                    }
                })
                .catch(error => {
                    Swal.showValidationMessage('Server Error')
                })
            },
            }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/admin";
            }
            else{
                window.location.href = "../";
            }
        })
    </script>
</body>

</html>